body{
  background: #202020;
  font-family: tahoma;
}
.container{ /* grid containter aligns and formats table and form dynamically*/
  margin: 6% auto 6% 10%;
  display: grid;
  align-content: center;
  grid-gap: 6%;
  grid-template-columns: [first] 30% [second] auto [last];
  grid-template-areas:
    "multForm display";
}
.mult{
  grid-area: multForm;
}
.side{
  grid-area: display;
  margin: auto;
}
h1{
  color: #F8F8F8;
  font-weight: 500;
}
#multForm{
  margin-top: 20px;
  padding: 6%;
  border-radius: 25px;
  background-color: #F0F0F0;
}
#formLine{
  border: .5px solid #BEBEBE;
}
#sub{
  margin-left: 4%;
}
th, td{ /*base format for each cell of table */
  border: 1px solid black;
  padding: 6px;
  text-align: center;
  background-color: #F0F0F0;
  font-size: 95%;
}
#multTable{
  border: 1px solid #F0F0F0;
  margin: auto;
  padding: auto;
  margin-top: 6%;
}
tr:first-child td{ /*content of first row and cell are highlighted*/
  background-color: #202020;
  font-weight: bold;
  color: #E8E8E8;
}
td:nth-child(1){
  background-color: #202020;
  font-weight: bold;
  color: #E8E8E8;
}
#endDivide{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #F0F0F0, #202020);
}
